* { 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	box-sizing: border-box; 
	font-family: Nunito;
	font-weight: Regular;
}



a { text-decoration: none; }

.btnMenu {
	display: none;
	padding: 20px;
	display: block;
	background: #f3f3f3;
	color: #fff;
}

.btnMenu i.fa { float: right; }

.contenedor-menu {
	width: 62%; 
	margin-left: 35%;
	margin-top: 13%;
	display: inline-block;
	line-height: 12px;
}

.contenedor-menu .menu { width: 100%; }

.contenedor-menu ul { list-style: none; }

.contenedor-menu .menu li a {
	color: black;
	display: block;
	padding: 15px 20px;
	background: #f3f3f3;
}
.contenedor-menu .menu li a:hover { background: #f3f3f3; color: black; } 
.contenedor-menu .menu i.fa { 
	font-size: 12px; 
	line-height: 18px; 
	float: right; 
	margin-left: 10px; 
}

.contenedor-menu .menu ul { display: none; }
.contenedor-menu .menu ul li a {
	background: #f3f3f3;
	color: black;
	margin-left: 2%;
}

.contenedor-menu .menu .activado > a {
	background: #f3f3f3;
	color: black;
}

.v110_11 {
	width: 95%;
	color: rgba(0,0,0,1);
	font-weight: Regular;
	font-size: 20px;
	opacity: 1;
	text-align: left;
	display: block; 
	margin-left: 1%;
  }

  .regular {
	width: 95%;
	color: rgba(0,0,0,1);
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
	display: block; 
  }
.quater{
	width: 96%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.main-head {
    width: auto;
    color: black;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
  .sub-head {
    width: auto;
    color: #005AC3;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.example {
    width: auto;
    color: black;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.solution {
    width: auto;
    color: rgb(241, 64, 64);
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v110_60 {
	width: 97%;
	background: rgba(236,250,255,1);
	opacity: 1;
	margin-top: 2%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	position: relative;
  }
  .v110_10 {
	width: 357px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 380px;
	left: 205px;
	font-weight: Bold;
	font-size: 26px;
	opacity: 1;
	text-align: left;
	
  }
  .v110_62 {
	width: 576px;
	color: rgba(0,90,195,1);
	position: relative;
	top: 0px;
	left: 0px;
	font-weight: Bold;
	font-size: 42px;
	opacity: 1;
	text-align: left;
  }
.eq{
	width:100%;
	overflow-x:scroll;
	font-size: smaller;
}

.eq::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.eq {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.right-align{
	float:right;
}


  .v110_48 {
	width: 314px;
	height: 328px;
	background: url("../images/v110_48.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
  }
  .v110_49 {
	width: 47px;
	color: rgba(0,0,0,1);
	position: absolute;
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;

  }

  .v110_54 {
	width: 285px;
	height: 323px;
	background: url("../images/v110_54.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;

  }
  .v110_55 {
	width: 47px;
	color: rgba(0,0,0,1);
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;
  }
  .v110_64 {
	width: 274px;
	height: 285px;
	background: url("../images/v110_64.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	float:right;
	margin-right: 2%;
	overflow: hidden;
  }
  .v152_2 {
	width: 32px;
	height: 32px;
	background: url("../images/v152_2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 381px;
	left: 577px;
	overflow: hidden;
  }
  .change{
	position: absolute;bottom: 0;left: 0; margin-bottom:2%
  }
  .toggle-btn{
	  display: none;
  }
  

  .shell{
	background-color:#f3f3f3;
  }

  .main{
	  background-color: white;
	  width: 70%;
	  margin-left: 5%;
	  margin-top: 2%;
	  overflow-y: scroll;
  }
.card-head{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
	width: 70%;
            margin-left: 5%;
            margin-top: 4%;

}
.card-hanging{
	height: 40px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
	width: 45%;
            margin-left: 10%;
            margin-top: 2%;
}
.spl{
	border-left:20px solid #005AC3;border-right:10px solid #005AC3;	height: 80px;		
}
.card-body-s {
	flex: 1 1 auto;
	padding: 0.4rem 0.4rem;
  }
  .card-body-sa {
	/* flex: 1 1 auto; */
	padding: 5px 1rem;
  }
  @media screen and (max-width: 700px) {
	div.change {
		position: relative;
	}
	.toggle-btn{
		display: block;
	}
	.shell{
		background-color:#f3f3f3;
		margin-left: 30%;
	  }
	  .contenedor-menu {
		width: 158%; 
		margin-left: 20%;
		margin-top: 38%;
		display: inline-block;
		line-height: 18px;
	}
	.main{
		background-color: white;
		width: 85%;
		margin-left: 5%;
		margin-top: 2%;
		overflow-y: scroll;
	}
  .card-head{
	position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  min-width: 0;
	  word-wrap: break-word;
	  background-color: #fff;
	  background-clip: border-box;
	  border: 1px solid rgba(0,0,0,.125);
	  border-radius: 0.25rem;
	  width: 85%;
			  margin-left: 5%;
			  margin-top: 10%;
  }
  .card-body-sa {
	/* flex: 1 1 auto; */
	padding: 16px 1rem;
  }
  .card-hanging{
	height: 50px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
	width: 85%;
            margin-left: 8%;
            margin-top: 2%;
}
.spl{
	border-left:20px solid #005AC3;border-right:10px solid #005AC3;	height: 140px;		
}
  }