* { 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	box-sizing: border-box; 
	font-family: Nunito Sans;
	font-weight: Regular;
}



a { text-decoration: none; }

.btnMenu {
	display: none;
	padding: 20px;
	display: block;
	background: #f3f3f3;
	color: #fff;
}

.btnMenu i.fa { float: right; }

.contenedor-menu {
	/* width: 80%;  */
	/* margin-left: 25%; */
	/* margin-top: 13%; */
	display: inline-block;
	line-height: 12px;
}

/* .contenedor-menu .menu { width: 100%; } */

.contenedor-menu ul { list-style: none; }

.contenedor-menu .menu li a {
	color: black;
	display: block;
	padding: 12px 20px;
	background: #f3f3f3;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.contenedor-menu .menu li a:hover { background: #f3f3f3; color: black; } 
.contenedor-menu .menu i.fa { 
	font-size: 12px; 
	line-height: 18px; 
	float: right; 
	margin-left: 10px; 
}

.contenedor-menu .menu ul { display: none; }
.contenedor-menu .menu ul li a {
	background: #f3f3f3;
	color: black;
	/* margin-left: 5%; */
	line-height: 18px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.contenedor-menu .menu .activado > a {
	background: #f3f3f3;
	color: black;
}

.v110_11 {
	width: 95%;
	color: rgba(0,0,0,1);
	font-weight: Regular;
	font-size: 20px;
	opacity: 1;
	text-align: left;
	display: block; 
	margin-left: 1%;
  }

  .regular {
	color: rgba(0,0,0,1);
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
  }
.quater{
	width: 100%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.main-head {
    width: auto;
    color: black;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
  .sub-head {
    width: auto;
    color: #005AC3;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.example {
    width: auto;
    color: black;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.solution {
    width: auto;
    color: rgb(241, 64, 64);
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v110_60 {
	width: 97%;
	background: rgba(236,250,255,1);
	opacity: 1;
	margin-top: 2%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	position: relative;
  }
  .v110_10 {
	width: 357px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 380px;
	left: 205px;
	font-weight: Bold;
	font-size: 26px;
	opacity: 1;
	text-align: left;
	
  }
  .v110_62 {
	width: 576px;
	color: rgba(0,90,195,1);
	position: relative;
	top: 0px;
	left: 0px;
	font-weight: Bold;
	font-size: 42px;
	opacity: 1;
	text-align: left;
  }
.eq{
	width:100%;
	overflow-x:scroll;
	font-size: smaller;
}

.eq::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.eq {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.right-align{
	float:right;
}


  .v110_48 {
	width: 144px;
	height: 152px;
	background: url("../images/v110_48.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
  }
  .v110_49 {
	width: 47px;
	color: rgba(0,0,0,1);
	/* position: absolute; */
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;

  }

  .v110_54 {
	width: 144px;
	height: 152px;
	background: url("../images/v110_54.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;

  }
  .v110_55 {
	width: 47px;
	color: rgba(0,0,0,1);
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;
  }
  .v110_64 {
	width: 274px;
	height: 285px;
	background: url("../images/v110_64.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	float:right;
	margin-right: 2%;
	overflow: hidden;
  }
  .v152_2 {
	width: 32px;
	height: 32px;
	background: url("../images/v152_2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 381px;
	left: 577px;
	overflow: hidden;
  }
  .change{
	position: absolute;bottom: 0;left: 0; margin-bottom:2%
  }
  .toggle-btn{
	  display: none;
  }
  

  .shell{
	background-color:#f3f3f3;
  }

  .main{
	  background-color: white;
	  /* margin-left: 2%; */
	  margin-top: 2%;

  }

  .main::-webkit-scrollbar {
    display: none;
}

.card-container {
	display: table;
	color: #000;
  }

  .card-column-head {
	width: 10%;
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;

}

.card-column-content {
	width: 90%;
	display: table-cell;
	padding: 10px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

.card-head{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
	/* margin-left: 2%; */
    margin-top: 4%;

}
.card-hanging{
	height: 15px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f3f3f3;
    background-clip: border-box;
    border: 1px solid #f3f3f3;
    border-radius: 0.25rem;
	width: 100%;
	/* text-align: center; */
	font-size: 18px;
            margin-left: 0.2%;
            margin-top: 2%;
}
.spl{
	border-left:20px solid #005AC3;border-right:10px solid #005AC3;	height: 80px;		
}
.card-body-s {
	flex: 1 1 auto;
	padding: 0.4rem 0.4rem;
	font-size: 22px;
  }
  .card-body-sa {
	/* flex: 1 1 auto; */
	padding: 5px 1rem;
  }

  .myvideo {
	width: 700px;
	}


  /* START LOADER CSS */
.fullpage-loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #fff;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .fullpage-loader .fullpage-loader__logo {
	position: relative;
  }
  .fullpage-loader .fullpage-loader__logo:after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
			animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
	background: rgba(255, 255, 255, 0.8);
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
	/* IE6-9 */
  }
  
  @-webkit-keyframes shine {
	0% {
	  transform: translateX(-100%) skew(-30deg);
	}
	100% {
	  transform: translateX(200%) skew(-30deg);
	}
  }
  
  @keyframes shine {
	0% {
	  transform: translateX(-100%) skew(-30deg);
	}
	100% {
	  transform: translateX(200%) skew(-30deg);
	}
  }
  .fullpage-loader--invisible {
	opacity: 0;
  }
  
  /* END LOADER CSS */
  code {
	padding: 0 0.5ch;
  }
  
  img {
	max-width: 100%;
  }
  .overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 1);
	overflow-x: hidden;
	/* transition: 0.5s; */
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	/* transition: 0.3s; */
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 36%;
	right: 14%;
	font-size: 60px;
	z-index: 10;
  }

  .center-align {
	  margin-top: 12%;
  }

  .sidebar-title {
	  background-color: #292D44;
	  color: white;
	  font-weight: Bold;
	  font-size: 16px;
	  opacity: 1;
	  text-align: left;
	  height: 40px;
	  padding: 10px;
  }

  .eq-box {
	width: 100%;
	padding: 10px;  
	background: #F3F3F3;
	border: 1px solid #D5D5D5;
  }
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }

  @media screen and (max-width: 1080px) {
	  * {
		  font-family: Roboto;
	  }

	  .image-graph {
		  width: 144;
		  height: 152px
	  }

	  .eq-box {
		width: 100%;
		padding: 10px;  
		background: #F3F3F3;
		border: 1px solid #D5D5D5;
	  }

	  .contenedor-menu .menu {  font-size: 14px;}

	.example {
		width: auto;
		color: black;
		font-weight: Bold;
		font-size: 14px;
		opacity: 1;
		text-align: left;
	}
	.solution {
		width: auto;
		color: rgb(241, 64, 64);
		font-weight: Bold;
		font-size: 14px;
		opacity: 1;
		text-align: left;
	}

	.main-head {
		width: auto;
		color: black;
		font-weight: Bold;
		font-size: 16px;
		opacity: 1;
		text-align: left;
	}

	.sub-head {
		width: auto;
		color: #005AC3;
		font-weight: medium;
		font-size: 14px;
		opacity: 1;
		text-align: left;
	}

	.regular {
		color: rgba(0,0,0,1);
		font-weight: normal;
		font-size: 12px;
		opacity: 1;
		text-align: left;
	  }

	  .center-align {
		margin-top: 45%;
	}

	.overlay .closebtn {
		position: absolute;
		top: 36%;
		right: 45px;
		font-size: 30px;
		
	  }
	  
	.overlay-content {
		position: relative;
		width: 100%;
		margin-top: 10px;
		top: 36%;
	  }
	.myvideo {
		width: 100vw;
		height: auto;
	}
	div.change {
		position: relative;
	}
	.toggle-btn{
		display: block;
	}
	.shell{
		background-color:#f3f3f3;
		width: 100vw;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		height: 92vh;
		/* text-align:center; */
	  }
	  .contenedor-menu {
		margin-top: 2%;
		display: inline-block;
		line-height: 18px;
		width: 65vw;
	}
	.main{
		background-color: white;
		/* width: 97%; */
		margin-top: 4%;
		width: 98vw;
		margin-left: 1%;
	}
  .card-head{
	position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  min-width: 0;
	  word-wrap: break-word;
	  background-color: #fff;
	  background-clip: border-box;
	  border: 1px solid rgba(0,0,0,.125);
	  border-radius: 0.25rem;
	  width: 98vw;
		margin-left: 1%;
		margin-top: auto;
	
  }
  .card-body-sa {
	/* flex: 1 1 auto; */
	padding: 6px 1rem;
  }
  .card-hanging{
	height: 15px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f3f3f3;
    background-clip: border-box;
    border: 1px solid #f3f3f3;
    border-radius: 0.25rem;
	width: 100%;
	/* text-align: center; */
	font-size: 9.5px;
            margin-left: 0.2%;
            margin-top: 2%;
}
.spl{
	border-left:20px solid #005AC3;border-right:10px solid #005AC3;	height: 90px;		
	}	
  }