.navbar {
    background-color: #000000;
}
.navbar .navbar-collapse {
    background-color: #000000;
}
.navbar a {
    color: #fff;
}
.navbar-fixed-top .nav > li > a:hover, .navbar-fixed-top .nav > li > a:focus {
    background-color: #ff3200;
}
.navbar-fixed-top .main-menu > li > a:hover, .navbar-fixed-top .main-menu > li > a:focus {
    background-color: #ff3200;
    color: #fff;
}
.navbar-fixed-top .nav .open > a, .navbar-fixed-top .nav .open > a:hover, .navbar-fixed-top .nav .open > a:focus {
    background-color: #ff3200;
}
.sidebar {
    background-color: #e0e0e0;
    border-right: 1px solid #ccc;
}
.nav-sidebar > li > a.active {
    color: #fff;
    background-color: rgba(255, 50, 0, 0.73);
}
.nav-sidebar > li > a {
    color: #000;
}
.nav-sidebar > li > a:hover {
    color: #E3E5E7;
    background-color: rgba(255, 50, 0, 0.73);
}
.nav-sidebar > li > .active:hover {
    color: #E3E5E7;
    background-color: rgba(255, 50, 0, 0.73);
}
.btn-primary {
    color: #fff;
    background-color: #ff3200;
    border-color: #ff3200;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff3200;
    border-color: #ff3200;
}
.modal-dialog .modal-header {
    background: #ff3200;
    color: #F7F2F2;
}
