/****** PLACE YOUR CUSTOM STYLES HERE ******/
p{
  color:#3e3e3e;
  font-size: 14px;
}
/*nav.transparent{
  margin:20px;
}*/
@media (max-width:990px){
  nav.transparent{
    margin:0;
  }
  .module.widget-handle{
    border:none;
  }
}
.thumbnail{
  margin: 0 auto 20px auto!important;
}
.register-btn{
  display: none;
}
nav.transparent .module.widget-handle {
    border-left: 0px solid rgba(255, 255, 255, 0.2) !important;;
}
.front-icons{
  font-size: 5em;
  color:#fff;
}
.nav-bar{
  border-bottom: none;
}
.nav-container{
  border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}
.nav-container nav{
  padding:20px;
}
.logo{
  /*max-height: 100%;*/
}
nav.transparent .nav-bar {
    border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}
nav.transparent.fixed {
  margin:0;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
-moz-box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
}
nav.fixed {
  margin:0;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
-moz-box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
box-shadow: 0px 1px 4px 1px rgba(163,163,163,1);
}
.nu-features .tab-title{
  border: 1px solid #ccc;
}
a.feature{
  display: block;
}
/*.portal-footer{
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}*/
.custom-header{
  height: 100px;
  border-bottom: 1px solid #ebebeb;
}
.comments-list .avatar img {
    width: 32px;
}
.comments-list .avatar {
    width: 10%;
}
.social-list{
    font-size: 2em;
}
.social-list .fa-twitter{
  color: #00aced;
}
.social-list .fa-facebook{
  color: #3b5998;
}
#facebook-btn{
    background-color: #3B5998!important;
    color: #fff!important;
    border: 1px solid;
}
#whatsapp-btn{
    background-color: #075e54!important;
    color: #fff!important;
    border: 1px solid;
    margin-bottom: 0px;
}
.div-overlay{
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
}
.discount-panel{
  position: absolute;
    top: 0;
    padding: 8px;
    left: 15px;
    right: 15px;
    background-color: #5CB85C;
    color: #fff;
    font-size: 14px;
}
.discount-panel .fa-gift{
  color:#FFBE17;
  font-size: 20px;
}
.pricing-table .price{
  font-size: 60px;
}
.btn{
  border: 2px solid #2E8ECE;
}
.btn:hover{
  background: #2E8ECE;
}
.btn-blue, .btn-blue:visited {
    color: #fff;
    border-color: #2E8ECE;
}

.menu li a,nav.transparent.fixed .menu > li > a{
  opacity:  1;
}
.foundry_modal.reveal-modal{
  max-width: 80%;
  width: 80%;
}
.help-doc{
  color:#000;
}
.help-doc p, .help-doc ol, .help-doc .table{
  font-size: 15px;
}
.screenshot{
  border: 1px solid #ebebeb;
}

/* For logo of ematepro */
.logoArea{
	color:#FFF;
	font-weight:bold;
	line-height:0;
	font-family:"Calibri";
	position:relative;
}
.logo-light.logoArea{}
.logo-dark.logoArea{}
.logoArea .bgd{
	background-color:red;
	display:inline-block;
	width:38px;
	height:38px;
	border-radius:50%;
	z-index:1;
	background:radial-gradient(circle, red 57%, yellow 77%, transparent 47%) repeat scroll 0 0 transparent;
}
.logo-light .bgd{
	box-shadow: 1px 1px 5px black;
}
.logo-dark .bgd{
	margin-top:3px;
}

.logoArea .e{
	display:inline-block;
	position:relative;
	left:1px;
	top:9.5px;
	z-index:10;
	position:relative;
	transform:rotate(-20deg);
	padding:5px;
	font-size:45px;
	text-shadow:0px 0px 5px rgba(255,255,0,.9);
	color:#FFFF55;
}
.logo-light .e{}
.logo-dark .e{}

.logoArea .mate{
	display:inline-block;
	position:relative;
	top:9.5px;
	font-size: 36px;
	position:relative;
	font-weight:bold;
}
.logo-light .mate{
	text-shadow:0 0 20px #0000FF;
}
.logo-dark .mate{
	color:#03C;
}
.cl-pkg-name{
  color:#fff;
  font-weight:600;
  letter-spacing: 0!important;
}
.bundle-desc{
  color:#fff;
}
@media(max-width: 892px){
  .cl-pkg-name{
    color:#000;
    font-weight:600;
  }
  .bundle-desc{
    color:#000;
  }
}
.cl-mobile-bottom{
  position: fixed;
    bottom: 0;
    left:0;
    right:0;
    background: #fff;
    border-top: 2px solid #ccc;
    z-index:20;
    padding: 5px 0 5px 0;
}
.text-white{
  color:#fff;
}

.logoArea .pro{
	font-weight:bold;
	font-size:20px;
}
.logo-light .pro{

}
.logo-dark .pro{
	color:#000;
}

.edMinglePos{
	position:relative;
	width:50%;
}
nav.transparent .edMinglePos.logo-light{
	left:71px;
	top:-9px;
	line-height:1;
	display:block;
}
.edMinglePos.logo-dark{
	left:71px;
	top:2px;
	line-height:1;
	display:block;
}

.edMinglePos span{
	display:inline;
	font-weight:bold;
}
.logo-light .edMinglePos span{
	color:#FFF;
}
.logo-dark .edMinglePos span{
	color:#000;
}

.logoArea span.with{
	position:absolute;
	font-size:12px;
}
.logo-light span.with{
	bottom:-17px;
	left:45px;
}
.logo-dark span.with{
	bottom:-12px;
	left:45px;
	color:#000;
	font-weight:bold;
}
.select-option{
  margin: 0
}
.input-with-label .select-option{
  margin-top: 0!important;
}
input[type="text"], input[type="password"], input[type="number"],input[type="date"]{
  background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
#contact-form input,#lead-form input, textarea, #inst-request-demo input, textarea, .select-option {
  margin:10px 0 0 0;
  border: 1px solid #999;
  font-size: 15px;
  color:#353535;
}
.login-form input,.pswd-form input,.reset-pswd-form input{
  border: 1px solid #999;
  font-size: 15px;
  color:#353535;
}
.validation-form .input-with-label, .signup-form .input-with-label, .extra-info .input-with-label{
  margin:5px 0 0 0;
}
.validation-form input, .signup-form input, .extra-info input{
  margin:0;
  border: 1px solid #999;
  font-size: 15px;
  color:#353535;
}
.promo-code input{
  border: 1px solid #999;
  font-size: 15px;
  color:#353535;
}
.signup-form .error-field{
  display: none;
}
select{
  position: absolute;
  border: 1px solid #a7a7a7;
}
select:hover{
  border: 1px solid #a7a7a7;
}
select option{
  font-size: 15px;
}
div.callout {
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	margin: 0 25px;
	min-height: 118px;
	border: 1px solid #fff;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}
@media(max-width: 768px){
  div.callout{
    display: none;
  }
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.callout.bottom::before {
	left: 45%;
	top: -20px;
	border-bottom: 10px solid #fff;
}

.background-multiply .background-image-holder {
    background-color: #5a5a5a !important;
}

.image-bg .btn.btn-dark.btn-filled, .image-bg .btn-dark.btn-filled:visited {
    border-color: #155291;
}
.btn-dark.btn-filled {
    background: #155291;
}
.image-bg.dark-text h2, .image-bg.dark-text h5, .image-bg.dark-text p {
    color: #000000;
}
#signupTabs.nav-tabs > li{
  width:50%;
  font-size: 20px;
}
#signupTabsContent{
  border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 25px;
}
.login-divider.verticle{
  height: 330px;
  border-right:1px solid #ebebeb;
  padding:0;
  width:30px;
  line-height: 16em;
  font-size: 20px;
  margin-right: 15px;
}
.login-divider.horizontal{
  border-bottom:1px solid #ebebeb;
  text-align: center;
  line-height: .2em;
  font-size: 20px;
}
.login-divider .divider-text{
  padding:20px;
  background-color: #fff;
}
.login-divider.verticle{
  height: 330px;
  border-right:1px solid #ebebeb;
  padding:0;
  width:30px;
  line-height: 16em;
  font-size: 20px;
  margin-right: 15px;
}
.login-divider.horizontal{
  border-bottom:1px solid #ebebeb;
  text-align: center;
  line-height: .2em;
  font-size: 20px;
}
.login-divider .divider-text{
  padding:0 20px;
  background-color: #fff;
}
.after-validation{
  display: none;
}
.change-user{
  display: none;
}
div[class*='already-reg']{
  display: none;
}
.mtop250{
  margin-top:250px;
}
.pkg-detail.fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.invisible{
  visibility: hidden;
}
.pkg-description ul{
  font-size: 16px;
  color: #3e3e3e;
  padding: 0 20px!important;
  list-style: disc!important;
}
.mtop5{
  margin-top: 5px;
}
.mtop20{
  margin-top: 20px;
}
#enquiry-1 .contact-name, #enquiry-1 .contact-email{
  font-size: 16px;
}
.inr_cost_div, .usd_cost_div{
  display: none;
}
.img-circle-thumb{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-size: 100%;
  position: relative;
}
.crs-display-img{
  border: 1px solid #b3b3b3;
  height: 122px;
}
.moduleHeading{
  margin-bottom: 5px;
  font-size: 21px;
}
.featureInfoeading{
  font-weight: 800;
}
.star-rating {
  display: flex;
  align-items: center;
  font-size: 35px;
  justify-content: center;
  margin-top: 0px;
}
.back-stars {
  display: flex;
  color: rgb(199, 195, 195);
  position: relative;
  text-shadow: rgb(255, 255, 255) 4px 4px 10px;
}
.front-stars {
  display: flex;
  color: rgb(255,215,70);
  position: absolute;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
  top: 0px;
  overflow: hidden;
}
.star-detail-page{
  margin-right: 0px;
  margin-left: 75px;
}
.star-front-page{
  font-size: 14px;
  justify-content: left;
  margin-top: 5px;
}
.back-stars-front-page{
  text-shadow: none;
}
.front-stars-front-page{
  text-shadow: none;
}
.star-review-page{
  margin-left:-25px;
  font-size:25px;
}
.course-bundle-description ul{
  padding-left: 40px;
}
/* search bar - tinkermojo */
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    border-radius: 50px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 18px 15px;
    pointer-events: none;
    color:#9a9a9a;
}
.right-inner-addon input:focus, textarea {
    outline: none !important;
}
form .has-error{
  border: 1px solid red!important;
}
#infoModal .message-icon .fa{
  font-size: 4em;
}
#infoModal .message-icon .fa-check-circle-o{
  color: #4fb34f;
}

input[type="email"],input[type="number"]{
    width: 100%;
}
.pkg-cost-text{
  color:#505763;
  font-weight: 700;
}
.nav-util-social{

}
.nav-util-social a{
  color:#fff;
  display: inline-block;
  width: 40px;
  text-align: center;
}
.lc-date-multi{
  font-size: 20px;
  color: #fa394a;
}
.lc-date-single .single-date{
  font-size: 70px;
  color: #fa394a;
}
.lc-date-single .month-year{
  font-size: 18px;
  color: #fa394a;
}
.common-nav-logo{
  max-width: 100%;
  max-height: 100%;
}
.field-required{
  color: red;
  font-size: 17px;
  line-height: 1;
}
.megasubmenu{
  padding: 20px;
  width: max-content;
}
.megasubmenu .dd-menu-col{
  width:250px;
  float: left;
}

@media (min-width: 992px){
  .dropdown-menu{
    margin:0;
  }
  .megasubmenu{
    left:99%; top:-1px; min-height: 100%; min-width:0px;border-radius: 0;
    padding: 5px 0px;
    max-height: 480px;
    overflow: auto;
  }
  .dropdown-menu > li:hover .megasubmenu{
    display: block;
  }
}
.exlore-btn-menu{
  width:250px;
  border-radius: 0;
}
.exlore-btn-menu a{
  height: auto;
}
.megasubmenu li{
  line-height: 1!important;
  height:auto;
}
.megasubmenu li a{
  padding: 5px 0;
  font-size: 13px;
  color: #000;
}
.megasubmenu li a:hover{
  color: #2b447f;
}
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .exlore-btn-menu{
    width:100%;
  }
}

.html-list-display ul{
  font-size: 16px;
  color: #3e3e3e;
  padding: 0 20px!important;
  list-style: disc!important
}
.html-list-display ol{
  padding: 0 20px!important;
}
.not-allowed{
  cursor: not-allowed! important;
     
 }
 .otp_time_container , .signup_otp_time_container{
  display: none;
}
.otp_time_container.make_visible , .signup_otp_time_container.make_visible{
  display : block;
}
.resend_otp.not-allowed.btn[disabled] , .signup_resend_otp.not-allowed.btn[disabled]{
  pointer-events: auto;
}

.abcRioButton{
  margin: 0 auto;
}
.mb-0{
  margin-bottom: 0;
}
.mt-2{
  margin-top: 1.2rem;
}
.payment_header{
  background: #2E8ECE;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.payment_header h2{
  margin-bottom: 0;
}
.payment_container{
  margin: 50px auto;
  /* max-width: 70%; */
}
.payment_container .border-box{
  margin: 20px 0;
  box-shadow: 0 1px 8px 0 rgb(151 178 237 / 50%);
    padding: 20px 30px;
}
.payment_container p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.g-sign-in-button {
  margin: 0 auto;
  width: 300px;
  height: 35px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid transparent;
}

.g-sign-in-button img {
  width: 18px;
  height: 18px;
}

.g-sign-in-button .logo-wrapper {
  background: #fff;
  width: 38px;
  height: 100%;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-sign-in-button .text-container {
  font-family: Roboto,arial,sans-serif;
  font-weight: 500;
  letter-spacing: .21px;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.f-sign-in-button {
  margin: 0 auto;
  width: 300px;
  height: 35px;
  background-color: #4267b2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.f-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.f-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}

.f-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid transparent;
}

.f-sign-in-button img {
  width: 24px;
  height: 24px;
}

.f-sign-in-button .logo-wrapper {
  background:transparent;
  width: 38px;
  height: 100%;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-sign-in-button .text-container {
  font-family: Roboto,arial,sans-serif;
  font-weight: 700;
  letter-spacing: .21px;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.customBtn{
  margin-bottom: 20px;
}

.show_hide_button{
  height: 50px;
  width: 50px;
}
/* body.blur{
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */


/*Iskon CSS*/

.iskon-footer{
  background-color: #fff;
  padding: 70px 0 0;
  }
.iskon-footer h3{
  font-size: 22px;
  color: #333333;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 21px;
  font-weight: 700;
}
.iskon-footer ul{
  /* list-style:disc ; */
  /* padding-left: 15px; */
}
.iskon-footer .widget_menus ul li a{
  display: block;
  margin: 0 0 15px;
  position: relative;
  padding-left: 13px;
  font-size: 15px;
  color: #7f7f81;
}
.iskon-footer .widget_menus ul li a:before{
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  content: '';
  background: #7f7f81;
  border-radius: 50%;
}
.iskon-footer  .social-list  {
  max-width: 245px;
}
.iskon-footer  .social-list  li{
  padding: 0;
  margin: 0 5px 10px;
}
.iskon-footer  .social-list  li a{
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #48a7d4;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}
.iskon-footer  .footer-copyright{
  background-color: #053f81;
  padding: 23px 0 20px;
}

.iskon-nav .nav-bar{
  height: 75px;
  max-height: 75px;
}
.iskon-nav .menu li a{
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}
.iskon-nav .container{
  width: 1300px;
  padding: 0;
}
.iskon-nav .nav-bar{
  margin: 20px 10px;
}