body{
  color: #151515;
  font-size: 15px;
}
section{
  padding-top:40px;
}
.custom-select, .custom-select:hover, .custom-select:focus{
  border: 1px solid;
}
.custom-select option{
  font-size: 15px;
}
.feature.boxed.course-item {
    min-height:270px;
    position: relative;
    display: block;
    padding:10px;
}
.course-item .thumbnail{
  height:150px;
  margin-bottom: 0;
}
.course-item .crs-description{
  padding: 15px;
}
.course-item h5{
  margin-bottom: 10px;
}
.course-item .crs-enroll{
  position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}
.profile-pic.thumbnail{
  width:150px;
  height:150px;
  border-radius: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 20px;
}
.small-profile-pic.thumbnail{
  width:60px;
  height:60px;
  border-radius: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 20px;
}
.profile-pic.thumbnail img{
  border-radius: 50px;
}
.cl-pkg-name{
  letter-spacing: 0!important;
}
.mtop20{
  margin-top:20px;
}
.social-panel .social-list li{
  padding: 15px 17px;
  border-radius: 45px;
}
.social-panel .social-list a{
  display: inline-block;
  width:26px;
}
.social-panel .social-list .twitter{
  background-color: #2daae1;
}
.social-panel .social-list .facebook{
  background-color: #3c5b9b;
}
.social-panel .social-list .linkedin{
  background-color: #0077b5;
}
.social-panel .social-list .google{
  background-color: #d34836;
}
.social-panel .social-list .youtube{
  background-color: #ff0000;
}
.social-panel .social-list .instagram{
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-panel .social-list .fa-twitter,.social-panel .social-list .fa-facebook,.social-panel .social-list .fa-linkedin, .social-panel .social-list .fa-google-plus, .social-list .fa-youtube, .social-list .fa-instagram{
  color:#fff;
}

.crs-pkg-label{
  position: absolute;
  padding: 4px 12px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.crs-menu .nav-item{
  padding:10px;
}
.image-medium{
  max-height: 100px;
}
.nav-container nav {
    padding: 0;
}
.nav-bar {
  margin:10px;
}
.flex-viewport{
  max-height:400px; important!
}
@media (max-width:767px){
  section.image-bg {
      padding: 30px 0;
  }
}
